/*Font sizes*/
$title-font-size:clamp(4rem,8vw,6rem);
$subtitle-font-size:clamp(2rem,4vw,3rem);
$parrafo-font-size:clamp(1rem,2vw,1rem);

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/*Font familys*/
$title-font-style: 'Quicksand', sans-serif;
$subtitle-font-style:'Orbitron', sans-serif;
$parrafo-font-style:'Roboto Mono', monospace;

/*colors*/
$subtitle-font-color:red;
$bg-color:rgb(13, 6, 46);
$item-hovered-color:rgb(51, 153, 255);