@import "vars";

.main{
    padding-left: 100px;
    padding-right: 100px;
    h2{
        font-size: $subtitle-font-size;
        font-family: $subtitle-font-style;
        color: $item-hovered-color;
    }
}


.section{
    padding-top: 30px;
    padding-bottom: 100px;
    h2{
        transition: 1s ease-in;
        overflow: hidden;
        white-space: nowrap;
        border-right: 5px solid white;
        animation: blink 0.5s step-end infinite alternate;
        letter-spacing: 5px;
    }
  }
  @keyframes blink {
    50% {
        border-color: transparent
      }
    }
.section.appear{
    h2{
        width: 100%;
    }
}
.section.disappear{
    h2{
        width: 0px;
    }
  }

.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    h1{
        transition: 1s cubic-bezier(1,1.03,.83,1.05);
        margin:0;
        color: $item-hovered-color;
    }
    span{
        transition: 1.5s;
        opacity: 0.8;
    }
}

.home.appear{
    h1{
        opacity: 1;
        transform: none;
    }
    span{
        opacity: 1;
    }
    
}
.home.disappear{
    h1{
        opacity: 0;
        transform: translateX(-50%);
    }
    span{
        opacity: 0;
    }
}
.about{
    .about_container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 30px;
        p{
            transition: 0.5s;
            letter-spacing: 1px;
            line-height: calc($parrafo-font-size + 20px);
        }
        .tecnologies_list{
            display: grid;
            grid-template-columns: repeat(3, minmax(140px, 200px));
            gap: 15px;
            .tecnologie_item{
                font-family: $subtitle-font-style;
                font-size: $parrafo-font-size;
                color: $item-hovered-color;
            }
        }
        .profile_container{
            .profile{
                filter: grayscale(100%);
                border-radius: 10px;
                transition: 0.5s;
            }
            .profile:hover{
                filter: grayscale(0);
            }
        }
       
    }
}
.about.appear{
    p{
        opacity: 1;
    }
}
.about.disappear{
    p{
        opacity: 0;
    }
}
.projects{

    .card_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        .card{
            outline: 2px solid $item-hovered-color;
            background-color: #1b1f23;
            border-radius: 10px;
            overflow: hidden;
            .card_text{
                scrollbar-color: $item-hovered-color #1b1f23 ;
                scrollbar-width: thin;
                max-height: 200px;
                overflow: auto;
                padding-left: 20px;
                padding-right  : 20px;
                h3{
                    margin: 0;
                    margin-top: 20px;
                    font-family: $title-font-style;
                    font-size: $subtitle-font-size;
                }
                p{
                    font-family: $parrafo-font-style;
                    font-size: 15px;
                }
            }
            .card_links{
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: $subtitle-font-style;
                font-size: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
                a{
                    color: $item-hovered-color;
                    letter-spacing: 5px;    
                }
            }
        }
        
    }
}
.contact{
    position: relative;
    .subtitle{
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
    }
}
.contact::after{
    position: absolute;
    content: "";
    bottom: 30px;
    right: 0px;
    width: 0;
    height: 0;
    border-width:  25px;
    border-style: solid;
    border-color: transparent transparent transparent $item-hovered-color;
}

.footer{
    z-index: 1000;
    position: fixed;
    right: 15px;
    bottom: 10px;

    display: flex;
    .contact_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .list_item{
            list-style-position: outside;
            font-size: 50px;
            transition: 0.5s;
        }
        .list_item:hover{
            transform: translateY(-10px);
        }
    }
}


@media (max-width:800px) {
    .main{
        padding-left: 25px;
        padding-right: 25px;
        .projects{
            h2{
                overflow: auto;
            }

        }
        .about{
            
            .about_container{
                display:inline-block;
                .tecnologies_list{
                    display: grid;
                    grid-template-columns: repeat(2, minmax(140px, 200px));
                }
                .profile_container{
                    margin-top: 50px;
                
                    max-width: 200px;
                }
            }
        }
        .projects{
            .card_container{
                grid-template-columns: 1fr  ;
                grid-template-rows: 1fr;
            }
        }
        .contact{
            .subtitle{
                margin: 0;
            }
        }
        .contact::after{
            position: absolute;
            content: "";
        
            bottom: 0px;
            right: 45%;
            border-color: $item-hovered-color transparent  transparent   ;
        }
    }
    .footer{
        left: 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100vw;
        .contact_list{
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            gap: 30px;
        }

    }
   
    
    
}